button{
    width: 200px;
    padding: 10px 15px;
    background: #1e1e1e;
    color: #ffffff;
    border-radius: 5px;
    margin: 5px 0;
    cursor:pointer;
}
    
button:hover {
    background: #444;
}
    
body {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 50px 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
